/* coolor Palette https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529*/

body {
  background-color: #495057;
}

nav {
  background-color: #dee2e6;
}

#logo {
  margin: 5px 0px;
}

nav ul a {
  color: #343a40;
}

.btn {
  background-color: #ced4da;
  color: #495057;
  border-radius: 5px;
}

.btn:hover {
  background-color: #212529;
  color: #ced4da;
}

#search-input {
  border-bottom: 1px solid white;
}

.container-search {
  margin: 0 auto;
}

/* Modal Styling */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #dee2e6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 10px;
  padding: 8px 0px;
}

/* Styles font for reults container */
table, th, td {
  border: 1px solid whitesmoke;

}

table {
  border-spacing: 5px;
  border-radius: 5px;
}

button {
  margin-top: 10px;
}

h5 {
  color: ghostwhite;
  
}